
<div class="masthead card-deck container center-block">
  <div class="inner">
    
    <nav class="nav nav-masthead app-nav navbar navbar-toggleable-sm navbar-inverse">
        
      <div class="container">
          <h3 class="masthead-brand">Joseph Hyatt</h3>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#mainNav" >
          <span class="navbar-toggler-icon"></span>
        </button>
          <div class="collapse navbar-collapse" id="mainNav">
            <div class="navbar-nav">
              <%= nav_helper 'nav-link', 'span' %>
              <%= login_helper 'nav-link' %>
            </div>

          </div>
          
        </div>
        
      </div>
    </nav> 
  </div>
</div>

