<div class="app-card-container container">
  <div class="card">
    <h1>About Me</h1><br>
    
    <hr>
    
    <div class="row">
      <div class="col-md-4">
    
        <%= image_tag "about_me_pic.jpg", width: 300, alt: "profile image", class: 'profile_img' %>

        <!-- Skills Bar 
        <div class="skills">
          <% @skills.each do |skill| %>
            <div class="skill">
              <h4><%= skill.title %></h4>
              <div class="progress">
                <div 
                  class="progress-bar progress-bar-striped bg-warning"
                  role="progressbar"
                  aria-valuenow="<%= skill.percent_utilized %>"
                  aria-valuemax="100"
                  style="width: <%= skill.percent_utilized %>%" 
                ></div>
              </div>
            </div>
          <% end %>
        </div>
        -->

      </div>
    
      <div class="col-md-8">
        <p>Hi, My name is Joseph Hyatt. Highly motivated front end developer with experience in HTML5, CSS3, JavaScript, WordPress, Ruby and Ruby on Rails. I focus on writing clean, elegant and efficient code. I love creating websites, I take challenges as inspiration and always looking for improvements. I believe in hard work and sharing what I know. My goal is to be successful by building fast and responsive websites which work today and in the future on every device possible.</p>
        <br>
        <p>On my off time I like to take my dog Duke out for walks, go out to eat, drink coffee and travel to new places.  I also like to get some ps4 in while I can. Big Call of Duty and BattleField fan, message me if you feel like putting your skills to the test :).  </p> 

        <p> 
          <button 
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#jobHistory"
            aria-expanded="false"
            aria-controler="jobHistory"
          >
              Job History 
            </button>
            <button 
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#education"
            aria-expanded="false"
            aria-controler="education"
          >
            Education 
          </button>
        </p>

        <p>
          <div class="collapse" id="jobHistory">
            <div class="card card-block">
              <ul>
                <li>
                  <b>Freelance Web Developer</b><br>
                  <i>10/2016 - Present</i><br>
                  <p>Working with local clients on planning, designing
                      and implementation of complete web sites.</p>
                </li>
            </div>

            <div class="card card-block">
              <ul>
                <li>
                  <b>Verizon/Frontier HSI Technician</b><br>
                  <i>04/2006 - Present</i><br>
                  <p>I troubleshoot and repair high speed internet
                      issues using HSI diagnostic equipment to find the
                      problem the client is experiencing. I provide
                      excellent customer service, keeping the customer
                      informed and how to troubleshoot problems
                      themselves.</p>
                </li>
            </ul>
            </div>
          </div>

          <div class="collapse" id="education">
            <div class="card card-block">
                <ul>
                  <li>
                    <b>The FlatIron School</b><br>
                    <i>04/2006 - Present</i><br>
                    <p> Enrolled into The FlatIron School where I am
                        learning to use front and back-end languages.
                        FlatIorn starts off with HTML5, CSS3, BootStrap,
                        from there you go onto Ruby, Sinatra, Ruby on
                        Rails then JavaScript.</p>
                  </li>
                </ul>
            </div>
            <div class="card card-block">
                <ul>
                  <li>
                    <b>Team TreeHouse</b><br>
                    <i>10/2016 - 04/2017</i><br>
                    <p> When I realized I wanted to focus on learning to
                        code, I signed up to TeamTreeHouse. I focused on
                        HTML, CSS and JavaScript. I earned 38
                        Achievements while I was using their curriculum.</p>
                  </li>
                </ul>
            </div>
          </div>          
        </p>
      </div>
    </div>  
  </div>
</div>





