<h1>About Me</h1><br>
<p>Hi, My name is Joseph Hyatt. Highly motivated front end developer with experience in HTML5, CSS3, JavaScript, WordPress and Ruby. I focus on writing clean, elegant and efficient code. I love creating websites, I take challenges as inspiration and always looking for improvements. I believe in hard work and sharing what I know. My goal is to be successful by building fast and responsive websites which work today and in the future on every device possible.</p>

