<div class="app-card-container">
  <div class="card">
    <h1>Would you like to work together?</h1>

    <hr>

    <div class="row">
      <div class="col-md-6">
        <h3>Location</h3>

        <p>Victorville, California</p>

        <h3>Phone</h3>

        <p><%= number_to_phone "7604031181" %></p>

        <h3>Email</h3>

        <p><a href="mailto:jhyatt1017@gmail.com?subject=PortfolioContact" "email me">jhyatt1017@gmail.com</a></p>
      </div>
        <div class="col-md-6">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d972133.6220375238!2d-117.78290218810857!3d33.87635226119474!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c366b416343045%3A0xd1cb00b487d548c4!2sSpring+Valley+Lake%2C+CA+92395!5e1!3m2!1sen!2sus!4v1504543350380" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

