<div class="inner cover">
  <h1 class="cover-heading">Hi, <br> I'm Joseph, <br> Web Developer.</h1>

  <p class="lead">
    <span class="element"></span>
  </p>
  <p class="lead">
    <%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary" %>
    <%= link_to "Contact Me", contacts_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>
  
