<div class="inner cover">
  <h1 class="cover-heading">Hi, <br> I'm Joseph <br> Web Developer.</h1>

  <p class="lead">Ruby on Rails / JavaScript / BootStrap / WordPress.</p>
  <p class="lead">
    <%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary" %>
    <%= link_to "Contact Me", contact_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>
  
